<div class="jumbotron">
	<h1>About RoadRunner</h1>
	<p>"The future belongs to those who understand that doing more with less is compassionate, prosperous, and enduring"</p>
</div>

<div class="thumbnail">
            <img src="/images/trees.jpg.png" alt="trees" />
            <div class="caption post-content">
                <h2 class="h1special">Sign Up for RoadRunner in Under 5 Minutes. <br /><small>Save Up to 30% on Your Businesses' Recycling Costs.</small></h2>
            </div>
</div>

