<div class="jumbotron">
	<h1>RoadRunner = Technology</h1>
	<p>RoadRunner can help <strong>save your business up to 30%</strong> on monthly recycling fees using some seriously cool technology.</p>
	
	<div class="btn-group">
		<p>
  		<%= link_to '<button type="button" class="btn-group btn-primary btn-lg">Learn More</button>' .html_safe, about_path %>
  		<%= link_to '<button type="button" class="btn-group btn-primary btn-lg">Sign Up in Under 5 Minutes</button>' .html_safe, about_path %>
  		</p>
	</div>
</div>